<svg
  xmlns="http://www.w3.org/2000/svg"
  aria-label="Delete User"
  role="img"
  fill="#000000"
  width="24px"
  height="24px"
  viewBox="0 0 24 24"
  id="delete-user"
  class="size-9 text-cyan-700"
>
  <title id="svgTitle">Delete User</title>
  <!-- <desc>This is a more detailed description of what the SVG represents.</desc> -->

  <path
    d="M20.91,17.5l.8-.79a1,1,0,0,0-1.42-1.42l-.79.8-.79-.8a1,1,0,0,0-1.42,1.42l.8.79-.8.79a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l.79-.8.79.8a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42Z"
    class="fill-red-700"
  />
  <path
    d="M6,7a5,5,0,1,1,5,5A5,5,0,0,1,6,7Zm8,7H8a6,6,0,0,0-6,6,2,2,0,0,0,2,2H14a1,1,0,0,0,1-1V15A1,1,0,0,0,14,14Z"
    class="fill-black hover:fill-red-600"
  />
</svg>
